$themeColor: rgba(153, 57, 255, 0.5);
$themeColor-dark: rgb(112, 42, 186);

/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/* Fuji Image */
img.fixed-image {
  position: fixed;
  width: 100%;
  min-height: 100%;
  bottom: 0;
  left: 0;
  z-index: -5;
}
/* Header */
header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* Sticky Nav */
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 10px 6px -6px #777;

  section.logo {
    display: flex;
    align-items: center;
    flex: 2 1 400px;
    img {
      width: 6vw;
      height: 6vw;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
  nav {
    flex: 5 1 500px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      margin-bottom: 0.3rem;
      li {
        a {
          color: black;
          text-decoration: none;
          font-size: 1.35rem;
          transition: all 0.2s ease;
          padding-bottom: 0.3rem;
          &:hover {
            color: $themeColor;
            border-bottom: 3px solid $themeColor;
          }
        }
      }
    }
  }
}

/* Main */
main {
  section.background-img {
    min-height: 70vh;
    // background-image: url('../images/日本櫻花.jpg');
    // background-size: cover;
    // background-position: center;
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    #carouselExampleSlidesOnly {
      .carousel-inner {
        .carousel-item img {
          object-fit: cover;
          height: 70vh;
        }
      }
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }

    div.filter {
      background-color: black;
      opacity: 0.5;
      width: 100%;
      min-height: 70vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    h3 {
      color: white;
      font-size: 2.5rem;
      text-align: center;
    }
  }
  section.intro-circles {
    background-color: white;
    padding: 2rem 1rem;
    h3 {
      font-size: 2rem;
      text-align: center;
    }
    div.circles {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      div.circle {
        padding: 1rem;
        flex: 0 1 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 80%;
          border-radius: 50%;
          transition: all 0.1s ease-in;
          padding: 0.3rem;
          &:hover {
            border: 3px solid $themeColor;
          }
        }
        p {
          margin-top: 0.5rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  section.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.7);
    h3 {
      font-size: 2rem;
      color: white;
    }
  }
  section.google-map {
    background-color: white;
    text-align: center;
    padding: 2rem 1rem;
    h3 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.25rem;
      padding: 1rem;
    }
    iframe {
      width: 100%;
      height: 40vh;
    }
  }
}

/* Footer */
footer {
  min-height: 40vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(#fff, 0.5);
  section.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 20vw;
    }
    h3 {
      font-size: 2.5rem;
      color: #000;
    }
  }
  section.links {
    margin-top: 1rem;
    img {
      width: 5vh;
      margin: 0rem 1rem;
    }
  }
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  opacity: 0;
  visibility: hidden;

  &__content {
    position: relative;
    background-color: #eee;
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    width: 40vw;
    margin: 15rem auto;
    padding: 4rem;
  }

  &__form {
    &-group {
      margin-bottom: 1.5rem;
    }

    &-input {
      padding: 0.75rem 1.25rem;
      font-size: 1.1rem;
      border: none;
      background-color: rgba(#fff, 0.5);
      border-bottom: 2px solid transparent;
      display: block;
      width: 100%;
      transition: all 0.3s;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(#000, 0.1);
        border-bottom: 3px solid $themeColor;
      }
      &:focus:invalid {
        border-bottom: 3px solid $themeColor-dark;
      }
    }

    &-label {
      font-size: 1rem;
      font-weight: 600;
      margin-top: 0.5rem;
      margin-left: 1.5rem;
      display: block;
      transition: all 0.3s;
    }

    &-input:placeholder-shown + &-label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-3rem);
    }

    &-btn {
      border: none;
      border-radius: 2px;
      background-color: $themeColor-dark;
      color: #fff;
      font-size: 1.1rem;
      padding: 0.25rem 0.5rem;
      transition: all 0.2s;
      cursor: pointer;

      &:hover {
        background-color: $themeColor;
        transform: translateY(-1.5px);
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);
      }
    }
  }

  //Open popup
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.4rem;
      color: #000;
      transform: all 0.2s;
    }

    &:hover {
      color: $themeColor;
    }
  }
}

/* RWD */
@media screen and (max-width: 900px) {
  html {
    font-size: 75%;
  }
  body {
    header {
      nav {
        ul {
          li {
            a:hover {
              border-bottom: 2px solid currentColor;
            }
          }
        }
      }
    }
    footer {
      section.logo {
        img {
          width: 15vw;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 62.5%;
  }
  body {
    header {
      position: relative;
      section.logo {
        flex-direction: column;
        img {
          width: 15vw;
          height: 15vw;
        }
      }
      ul {
        flex-direction: column;
        li {
          padding: 0.5rem 0.25rem;
        }
      }
    }
  }
}
